[submodule "DarwinOCPkg"]
	path = DarwinOCPkg
	url = https://github.com/royalgraphx/DarwinOCPkg.git
[submodule "DiskProvision"]
	path = DiskProvision
	url = https://github.com/royalgraphx/DiskProvision.git
[submodule "DarwinFetch"]
	path = DarwinFetch
	url = https://github.com/royalgraphx/DarwinFetch
[submodule "DarwinUDK"]
	path = DarwinUDK
	url = https://github.com/royalgraphx/DUDK-Firmware.git
