[submodule "extras/DiskProvision"]
	path = extras/DiskProvision
	url = https://github.com/royalgraphx/DiskProvision.git
[submodule "extras/DarwinFetch"]
	path = extras/DarwinFetch
	url = https://github.com/royalgraphx/DarwinFetch.git
[submodule "extras/DarwinOCPkg"]
	path = extras/DarwinOCPkg
	url = https://github.com/royalgraphx/DarwinOCPkg.git
[submodule "extras/DUDK-Firmware"]
	path = extras/DUDK-Firmware
	url = https://github.com/royalgraphx/DUDK-Firmware.git
[submodule "extras/ProperTree"]
	path = extras/ProperTree
	url = https://github.com/corpnewt/ProperTree
[submodule "extras/GenSMBIOS"]
	path = extras/GenSMBIOS
	url = https://github.com/corpnewt/GenSMBIOS
[submodule "extras/vfio-script"]
	path = extras/vfio-script
	url = https://gitlab.com/akshaycodes/vfio-script.git
[submodule "extras/single-gpu-passthrough"]
	path = extras/single-gpu-passthrough
	url = https://gitlab.com/risingprismtv/single-gpu-passthrough.git
