[submodule "DarwinOCPkg"]
	path = DarwinOCPkg
	url = https://github.com/royalgraphx/DarwinOCPkg.git
[submodule "macrecovery"]
	path = macrecovery
	url = https://github.com/royalgraphx/macrecovery
[submodule "macos-display-overrides"]
	path = macos-display-overrides
	url = https://github.com/mafredri/macos-display-overrides.git
