$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$canary-000: #e7e142;
$canary-100: #bcb716;
$canary-200: #ece626;
$canary-300: #fff839;
$teal-000: #008080;
$teal-100: #009688;
$teal-200: #00796B;
$teal-300: #00dfc5;
$reddish-000: #FF4D4D;
$reddish-100: #E63939;
$reddish-200: #C62828;
$reddish-300: #eb2a2a;
$blueish-000: #253746;
$blueish-100: #1E2A37;
$blueish-200: #18222C;
$blueish-300: #72c7ff;
$different-blue-100: #6DA6D2;
$different-blue-200: #519CCB;
$different-blue-300: #368AC2;
$different-blue-400: #1C79BA;
$different-black-100: #595959;
$different-black-200: #242424;
$different-black-300: #1d1d1d;
$different-black-400: #131313;
$heads-up-000: #9f5200;
$heads-up-100: #8c5a25;
$heads-up-200: #ae7435;
$heads-up-300: #ffab52;
$next-gray: #a9a9a9;
$zorm-hex: #8BBDE8;
$hexley-red: #f96093;
