$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$canary-000: #e7e142;
$canary-100: #bcb716;
$canary-200: #ece626;
$canary-300: #fff839;
$teal-000: #008080;
$teal-100: #009688;
$teal-200: #00796B;
$teal-300: #00dfc5;
$reddish-000: #FF4D4D;
$reddish-100: #E63939;
$reddish-200: #C62828;
$reddish-300: #eb2a2a;
$blueish-000: #253746;
$blueish-100: #1E2A37;
$blueish-200: #18222C;
$blueish-300: #72c7ff;
$different-blue-100: #6DA6D2;
$different-blue-200: #519CCB;
$different-blue-300: #368AC2;
$different-blue-400: #1C79BA;
$different-black-100: #595959;
$different-black-200: #242424;
$different-black-300: #1d1d1d;
$different-black-400: #131313;
$heads-up-000: #9f5200;
$heads-up-100: #8c5a25;
$heads-up-200: #ae7435;
$heads-up-300: #ffab52;
$next-gray-000: #a9a9a9;
$next-gray-100: #bfbfbf;
$next-gray-200: #949494;
$next-gray-300: #7f7f7f;
$zorm-hex-000: #8bbde8;
$zorm-hex-100: #a3cff1;
$zorm-hex-200: #77a9db;
$zorm-hex-300: #5e90c5;
$hexley-red-000: #f96093;
$hexley-red-100: #ff84a9;
$hexley-red-200: #e6507f;
$hexley-red-300: #cc4672;
$carnations-pink-000: #ff909f;
$carnations-pink-100: #ffb0b5;
$carnations-pink-200: #ff9aa0;
$carnations-pink-300: #ff9aa0;
$carnations-purple-000: #bfa6ff;
$carnations-purple-100: #d1bbff;
$carnations-purple-200: #c5afff;
$carnations-purple-300: #a890e6;
