title: DarwinKVM Docs
description: An Advanced Template for running macOS within QEMU/KVM. Run the latest macOS on QEMU/KVM with libvirtd/Virt-Manager, includes Single GPU Passthrough.
theme: just-the-docs
# Color scheme supports "light" (default) and "dark"
color_scheme: custom
favicon_ico: "/assets/favicon.ico"

url: https://royalgraphx.github.io/DarwinKVM/docs

callouts_opacity: 0.4
callouts:
  highlight:
    color: canary
  important:
    title: Important
    color: blueish
  new:
    title: New
    color: teal
  note:
    title: Note
    color: grey-lt
  warning:
    title: Warning
    color: reddish

# set up collections

# Define Jekyll collections
collections:
  # Define a collection named "writeups", its documents reside in the "_writeups" directory
  writeups:
    permalink: "/:collection/:path/"
    output: true

just_the_docs:
  # Define which collections are used in just-the-docs
  collections:
    # Reference the "tests" collection
    writeups:
      # Give the collection a name
      name: Writeups
      # Exclude the collection from the navigation
      # Supports true or false (default)
      nav_exclude: false
      # Fold the collection in the navigation
      # Supports true or false (default)
      nav_fold: false  # note: this option is new in v0.4
      # Exclude the collection from the search
      # Supports true or false (default)
      search_exclude: false

# Set up includes
include:
 - docs
 - _sass
 - _layouts
 - _includes

# External navigation links
nav_external_links:
  - title: Support on Telegram
    url: https://t.me/NootInc
    hide_icon: false # set to true to hide the external link icon - defaults to false

# Aux links for the upper right navigation
aux_links:
  "View on Github":
    - "//github.com/royalgraphx/DarwinKVM/tree/main"

# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: false