title: DarwinKVM
description: The advanced guide for running Mac OS X / macOS on QEMU with GPU Passthrough.
theme: just-the-docs
color_scheme: custom
favicon_ico: "/assets/DarwinKVM/favicon.ico"
nav_sort: case_sensitive
back_to_top: false
back_to_top_text: "Unused"

url: https://docs.darwinkvm.com/

# Google Analytics Tracking (optional)
# Supports a CSV of tracking ID strings (eg. "UA-1234567-89,G-1AB234CDE5")
ga_tracking: G-TXJ6SN6254
ga_tracking_anonymize_ip: true # Use GDPR compliant Google Analytics settings (true/nil by default)

callouts_opacity: 0.3
callouts:
  highlight:
    color: canary
  important:
    title: Important
    color: blueish
  new:
    title: New
    color: teal
  note:
    title: Note
    color: grey-lt
  warning:
    title: Warning
    color: reddish
  headsup:
    title: Heads Up!
    color: heads-up
  internalnote:
    title: Note for CarnationsInternal
    color: carnations-purple

# set up collections

# Define Jekyll collections
collections:
  host:
    permalink: "/:collection/:path/"
    output: true
  hypervisor:
    permalink: "/:collection/:path/"
    output: true
  opencore:
    permalink: "/:collection/:path/"
    output: true
  virtman:
    permalink: "/:collection/:path/"
    output: true
  writeups:
    permalink: "/:collection/:path/"
    output: true

just_the_docs:
  collections:
    host:
      name: HOST HARDWARE
      nav_exclude: false
      nav_fold: false
      search_exclude: false
    hypervisor:
      name: HYPERVISOR CONFIGURATION
      nav_exclude: false
      nav_fold: false
      search_exclude: false
    opencore:
      name: OPENCORE CONFIGURATION
      nav_exclude: false
      nav_fold: false
      search_exclude: false
    virtman:
      name: VMM CONFIGURATION
      nav_exclude: false
      nav_fold: false
      search_exclude: false
    writeups:
      name: WRITE-UPS
      nav_exclude: false
      nav_fold: false
      search_exclude: false

# Set up includes
include:
 - docs
 - _sass
 - _layouts
 - _includes

# Set a path/url to a logo that will be displayed instead of the title
# logo: "assets/DarwinKVM/CornerLogo.png"

# External navigation links
nav_external_links:
  - title: Support via Discord
    url: https://discord.gg/RC53DvQd3j
    hide_icon: false

# Aux links for the upper right navigation
aux_links:
  "View the Repo!":
    - "//github.com/royalgraphx/DarwinKVM/tree/main"

# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: false
